:8080 {
    header -ETag
    header -Last-Modified
    header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
    header Pragma "no-cache"
    reverse_proxy /outpost.goauthentik.io {env.AUTHENTIK_BACKEND}
    root * /web
    rewrite * /error.html
    encode zstd gzip
    file_server {
        index error.html
        hide .git
        status {http.request.header.X-Code}
    }
}
