:8080 {
    header -ETag
    header -Last-Modified
    header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
    header Pragma "no-cache"
    reverse_proxy /outpost.goauthentik.io {env.AUTHENTIK_BACKEND}
    @json header Accept *application/json*
    respond @json "{}" {http.request.header.X-Code} {
      close
    }
    @plain header Accept *text/plain*
    respond @plain "Not Found - JJGadgets" {http.request.header.X-Code} {
      close
    }
    root * /web
    rewrite * /error.html
    encode zstd gzip
    file_server {
        index error.html
        hide .git
        status {http.request.header.X-Code}
    }
}
