---
name: "Get Changed Images"

on:
  workflow_call:
    outputs:
      addedOrModified:
        description: "Whether any files were added or modified"
        value: ${{ jobs.get-changed-images.outputs.addedOrModified }}
      addedOrModifiedImages:
        description: "The images that were added or modified"
        value: ${{ jobs.get-changed-images.outputs.addedOrModifiedImages }}

jobs:
  get-changed-images:
    name: Get Changed Images
    runs-on: ubuntu-latest
    outputs:
      addedOrModified: "${{ steps.filter.outputs.addedOrModified }}"
      addedOrModifiedImages: "${{ steps.filter-containers.outputs.addedOrModifiedImages }}"
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Collect changed files
        uses: dorny/paths-filter@7267a8516b6f92bdb098633497bad573efdbf271 # v2.12.0
        id: filter
        with:
          list-files: json
          filters: |
            addedOrModified:
              - added|modified: 'apps/*/**'

      - name: Determine changed images
        if: ${{ steps.filter.outputs.addedOrModified == 'true' }}
        id: filter-containers
        shell: bash
        run: |
          PATHS='${{ steps.filter.outputs.addedOrModified_files }}'
          OUTPUT=$(echo $PATHS | jq --raw-output -c 'map(. |= split("/")[1]) | unique | join(",")')
          echo "addedOrModifiedImages=${OUTPUT}" >> $GITHUB_OUTPUT
